<div class="dream">
  <% if (theme.dream.showTitle) { %>
  <div class="title center-align">
    <i class="far fa-lightbulb"></i>&nbsp;&nbsp;<%- theme.dream.title %>
  </div>
  <% } %>
  <div class="row">
    <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align text">
      <div id="dream"></div>
    </div>
  </div>
</div>

<script>
  $.ajax({
    method: 'GET',
    url: 'https://admin.jscoder.com/api/admin/blog/word/random',
    dataType: 'json',
    success(data) {
      if (data.code === 200) {
        if (data.data.word) {
          $('#dream').text(data.data.word)
        }
      } else {
        $('#dream').text('今天也要努力哦~')
      }
    },
    error() {
      $('#dream').text('今天也要努力哦~')
    },
  })
</script>
